body{
  background-color: #0B0C10;
  color: white;
}
nav{
  background-color:#45A29E;
  padding: auto 25px;
}
.navbar .navbar-brand{
  color: #d0dbe7;
  font-weight: bolder;
}
@media (min-width:1200px){
  .navbar .navbar-brand{
    font-size: 30px;
    margin-left : 300px;
  }
  .navbar-nav{
    position: relative;
    margin-left: 600px;
  }
}
h2{
  font-family: Helvetica,sans-serif;
  color: #DeF2F1;
  margin: 20px 0;
}
h2 span{
  font-family: Helvetica,sans-serif; 
  color: #1ed1a4;
  font-weight: bold;
  font-size: 30px;
}
h3{
  font-family: Helvetica,sans-serif;
  color:#DeF2F1;
  font-weight: bolder;
}
form{
  margin: 20px 0 20px 10px;
  padding: 3%;
  padding-bottom: 20px;
  border: 2px solid #2B7A78;
  border-radius: 12px;
  box-shadow: 5px 5px 10px #2B7A78;
}
input{
  margin:15px auto;
}
.btn-submit{
  font-family: Helvetica,sans-serif;
  background-color: #1ed1a4;
  color: white;
  display: inline-block;
  border-radius: 5px;
  margin:10px 25px;
}