{% extends "user/form.html" %}
{% block content %}
<div class="container mt-5">
  <h2 class="mx-auto" >Welcome To <span>BHA VNA</span></h2>
  <div class="container"><h3>Forget Password</h3>
</div>
<div class="container form">
  {% for message in messages %}
   <div class="alert alert-success">
     <a class="close" href="#" data-dismiss="alert">×</a>
     {{ message }}
   </div>
  {% endfor %}
  {% if form.errors %}
    {% for field in form %}
      <div class="mt-3 fieldWrapper">
          {{ field.errors }}
      </div>
    {% endfor %}
      <div class="fieldWrapper">
      {% for error in form.non_field_errors %}
        <strong>{{ error }}</strong>
      {% endfor %}
    </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="col-md-4">
      {{form.email}}
    </div>
    <button class="btn-submit" type="submit" name="button">Submit</button>
  </form>
</div>
  <script type="text/javascript">
    const form_field = document.getElementsByTagName('input')
    form_field[1].placeholder = 'E-mail linked to account'
  </script>
{% endblock %}
